.installationinformation
AllowedPackages.txt
DisallowedClasses.txt
MethodCosts.txt
Uninstaller/
art/
*.jar
bc.conf
bin/
build.xml
doc/
lib/
music/
sound/
version.txt
teams/team008
matches/
teams/examplefuncsplayer/
names.txt
*~
